.title {
  margin-bottom: 20px;
}

@keyframes enter-city {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
}

.city {
  position: relative;
  animation: enter-city 0.6s ease-in;
  padding: 16px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 48%;
  float: left;
  margin-bottom: 20px;
}

.city:nth-child(2n-1) {
  margin-right: 4%;
}

@media screen and (max-width: 500px) {
  .city {
    width: 100%;
    margin-right: 0;
  }
}

.temperature {
  margin-left: 4px;
  opacity: 0.5;
  font-size: 0.8em;
}

.actions {
  margin-left: 15px;
  display: flex;
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: #fff;
}

.actions.isInModal {
  background: rgba(200, 200, 200, 0.95);
}

.actions:not(.isMobile) {
  transition: 0.6s opacity;
  opacity: 0;
  top: 16px;
}

.city:hover .actions {
  opacity: 1;
}

.actions svg {
  opacity: 0.5;
  transition: 0.6s opacity;
  margin-right: 5px;
  cursor: pointer;
}

.actions svg:hover {
  opacity: 1;
}
