.cityNote {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.noteActions {
  display: flex;
}

.noteActions:not(.isMobile) {
  transition: 0.6s opacity;
  opacity: 0;
}

.cityNote:hover .noteActions {
  opacity: 1;
}

.noteAction {
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.noteAction:hover {
  opacity: 1;
  transition: 0.6s opacity;
}

.cityNoteContainer {
  transition: height 0.6s;
  overflow: hidden;
}
