* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.app-container {
  padding-top: 60px; /* offest topbar's height plus some room to breathe */
}

.page-container {
  padding-top: 20px;
}

.textarea {
  max-width: 100%;
  width: 500px;
  outline: none;
  border: none;
  resize: none;
  box-shadow: 0 0 4px 0px inset #d3d3d3;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 90px;
}

.button {
  padding: 6px;
  border-width: 1px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
