* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  cursor: pointer;
}

.app-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 70px; /* offest topbar's height plus some room to breathe */
}

.app-container.is-offline {
  padding-bottom: 25px; /* offset offline bar */
}

.textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  box-shadow: 0 0 6px 0px inset #d3d3d3;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 90px;
}

@keyframes textarea-highlight {
  0% {
    box-shadow: 0 0 6px 0px inset #d3d3d3;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 6px 0px #d3d3d3;
  }
}

.textarea:hover,
.textarea:focus {
  box-shadow: 0 0 6px 0px #d3d3d3;
  animation: textarea-highlight 0.3s;
}

.button {
  padding: 6px;
  border-width: 1px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.button-link {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.transition-group {
  position: relative;
  flex: 1;
}

.router {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fade-exit .page {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
  transition: all 150ms ease-in;
}

.fade-exit.fade-exit-active .page {
  transform: translateX(-20px);
  opacity: 0;
}

.fade-enter .page {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active .page {
  transform: translateX(0);
  opacity: 1;
  transition: all 150ms ease-in;
}

.city-notes-transitions-enter {
  transform: translateY(45px);
}

.city-notes-transitions-enter.city-notes-transitions-enter-active {
  transform: translateY(0px);
  transition: transform 150ms ease-in;
}

.city-notes-transitions-exit {
  transition: height 250ms ease-in;
}

.city-notes-transitions-exit.city-notes-transitions-exit-active {
  height: 0 !important;
}
